---
layout: home
body_class: fullscreen
main-title: "PHOT&#8226;O&#8226;RAMA"
subtitle: "Photo Journal"
description: "Photography and more"
images:
 - image_path: /img/slider/home01.jpg
   gallery-folder: /img/slider/
 - image_path: /img/slider/home02.jpg
   gallery-folder: /img/slider/
 - image_path: /img/slider/home03.jpg
   gallery-folder: /img/slider/
---

<!-- MAIN CONTENT SECTION  _____________________________________________-->
	<section id="content" role="main">
		<div class="wrapper">

			<!-- WYSIWYG -->

		<div class="position-absolute">
				<h2 class="big no-margin"><strong>{{ page.main-title }}</strong></h2>
				<h2>{{ page.subtitle }}</h2> 
                     <div class="entry-summary">
							<p>{{ page.description }}</p>
						</div><br />
			</div>
			
			<div class="gallery fullscreen-gallery kenburns-gallery">

				<canvas id="kenburns"></canvas>
				
{% for image in page.images %}  	

				<figure class="gallery-item">
					<header class='gallery-icon'>

<a href="{{ image.gallery-folder | relative_url }}">
<img src="{{ image.image_path | relative_url }}"
     alt="{{ page.title | default: site.title | escape }} image {{ forloop.index }}"
     {% if forloop.first %}fetchpriority="high"{% endif %}></a>
	
				</header>	
				</figure>

{% endfor %}

				</div>
			<!-- END WYSIWYG -->
			
	
		</div><!-- END .wrapper -->
		
	</section>

<div id="footer" role="contentinfo">
		<ul class="soc-icons">

                 {% if site.facebook_username %}
			<li>
   <a href="https://facebook.com/{{ site.facebook_username }}" style="color:#dddddd;" target="_blank" rel="noopener noreferrer" title="Facebook">
                       <i class="fa fa-facebook"></i>
                     </span>
</a></li>
    {% endif %}
 {% if site.twitter_username %}
			<li>
   <a href="https://twitter.com/{{ site.twitter_username }}" style="color:#dddddd;" target="_blank" rel="noopener noreferrer" title="Twitter">
                       <i class="fa fa-twitter"></i>
                     </span>
</a></li>
    {% endif %}
                {% if site.instagram_username %}
			<li>
   <a href="https://instagram.com/{{ site.instagram_username }}" style="color:#dddddd;" target="_blank" rel="noopener noreferrer" title="Instagram">
                       <i class="fa fa-instagram"></i>
                     </span>
</a></li>
    {% endif %}
                    {% if site.flickr_username %}
						<li>
   <a href="https://flickr.com/photos/{{ site.flickr_username }}" style="color:#dddddd;" target="_blank" rel="noopener noreferrer" title="Flickr">
              <i class="fa fa-flickr"></i>
                     </span>
 </a></li>	
     {% endif %}
                    {% if site.deviantart_username %}
			<li>
   <a href="https://{{ site.deviantart_username }}.deviantart.com" style="color:#dddddd;" target="_blank" rel="noopener noreferrer" title="DeviantArt">
<i class="fa fa-deviantart"></i> </span>
</a></li>	
    {% endif %}
                    {% if site.github_username %}
                <li>
   <a href="https://github.com/{{ site.github_username }}" style="color:#dddddd;" target="_blank" rel="noopener noreferrer" title="Github">
              <i class="fa fa-github"></i>
                     </span>
                   {% endif %}
<li>
    <a href="mailto:{{ site.email }}" style="color:#dddddd;" target="_blank" rel="noopener noreferrer" title="Email">
              <i class="fa fa-envelope-o"></i></span>
          </a> </li>
	
					
		</ul>	
	</div>
<!-- Modernizr (feature detection for galleries) -->
<script src="{{ site.baseurl }}/js/modernizr.js"></script>

{% include scripts.html %}

<script src="{{ site.baseurl }}/js/retina.min.js"></script> 

<!-- include mousewheel plugins -->
<script src="{{ site.baseurl }}/js/jquery.mousewheel.min.js"></script>
<!-- include gallery cycle plugin -->
<script src="{{ site.baseurl }}/js/jquery.cycle.min.js"></script>
<!-- include kenburns plugins -->
<script src="{{ site.baseurl }}/js/kenburns.min.js"></script>
<!-- include svg line drawing plugin -->
<script src="{{ site.baseurl }}/js/jquery.lazylinepainter.min.js"></script>
<!-- include custom script -->
<script src="{{ site.baseurl }}/js/scripts.js"></script>
