<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}" />


  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico?" type="image/x-icon">
<link rel="icon" href="{{ site.baseurl }}/favicon.ico?" type="image/x-icon">

    <meta name="description" content="{{ site.description }}">

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

    {%- comment -%}
      Open Graph + Twitter Cards (scoped, safe defaults)
    {%- endcomment -%}
    {%- assign og_type = 'website' -%}
    {%- if page.layout == 'product' -%}
      {%- assign og_type = 'product' -%}
    {%- endif -%}

    {%- assign og_title = page.title | default: site.title -%}
    {%- assign og_desc = page.description | default: site.description | strip_html | strip_newlines -%}

    {%- assign primary_image = nil -%}
    {%- if page.images -%}
      {%- assign first_image = page.images[0] -%}
      {%- assign primary_image = first_image.image_path | default: first_image -%}
    {%- elsif page.image -%}
      {%- assign primary_image = page.image -%}
    {%- elsif page.header-img -%}
      {%- assign primary_image = page.header-img -%}
    {%- endif -%}

    <meta property="og:type" content="{{ og_type }}">
    <meta property="og:title" content="{{ og_title }}">
    <meta property="og:description" content="{{ og_desc }}">
    {%- if primary_image -%}
      <meta property="og:image" content="{{ primary_image | absolute_url }}">
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:image" content="{{ primary_image | absolute_url }}">
    {%- else -%}
      <meta name="twitter:card" content="summary">
    {%- endif -%}
    <meta name="twitter:title" content="{{ og_title }}">
    <meta name="twitter:description" content="{{ og_desc }}">
    {%- if page.layout == 'product' and page.product_price -%}
      <meta property="product:price:amount" content="{{ page.product_price }}">
      <meta property="product:price:currency" content="{{ page.currency | default: site.currency | default: 'JPY' }}">
    {%- endif -%}

<!-- CSS -->
	
    <!-- Bootstrap Core CSS (local BS3) -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    {% if page.active == 'gallery' or page.layout == 'home' or (page.layout == 'page' and (page.images or page.image)) %}
    <link rel="stylesheet" href="{{ "/css/galleries.css" | prepend: site.baseurl }}">
    {% endif %}
    {% if page.layout == 'home' %}
    <link rel="stylesheet" href="{{ "/css/WYSIWYG.css" | prepend: site.baseurl }}" media="screen" />
    {% endif %}
    <link rel="stylesheet" href="{{ "/css/super-search.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/magnificpopup.css" | prepend: site.baseurl }}">

    <!-- Section-specific CSS -->
    {% if page.active == 'shop' %}
    <link rel="stylesheet" href="{{ "/css/photorama-shop.css" | prepend: site.baseurl }}" type="text/css">
    {% endif %}
    {% if page.active == 'journal' %}
    <link rel="stylesheet" href="{{ "/css/journal.css" | prepend: site.baseurl }}">
    {% endif %}

    {% if page.collection == 'shop' or page.layout == 'product' %}
    <link rel="stylesheet" href="{{ "/css/shop-item.css" | prepend: site.baseurl }}" type="text/css">
    {% endif %}

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,600&display=swap&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&display=swap' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&display=swap' rel='stylesheet' type='text/css'>
    <link rel="preconnect" href="https://code.jquery.com">
    <link rel="dns-prefetch" href="//code.jquery.com">
    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    {% if page.url == "/404.html" %}
      <meta http-equiv="refresh" content="5; url={{ site.baseurl }}/journal" />
    {% endif %}
    
</head>
