---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    {% if page.images %}
      <div class="shop-item-image gallery masonry-gallery">
        {% for image in page.images %}
          {% assign img = image.image_path | default: image %}
          <figure class="gallery-item">
            <figure class="effect-selena">
              <header class='gallery-icon'>
                <a href="{{ site.url }}{{ site.baseurl }}{{ img }}" class="popup" title="{{ page.product_name }}" data-caption="¥{{ page.product_price }}">
                  <img src="{{ site.url }}{{ site.baseurl }}{{ img }}">
                </a>
              </header>
              <figcaption class='gallery-caption'>
                <div class="entry-summary">
                  <h3>{{ page.product_name }}</h3>
                  <p>¥{{ page.product_price }}</p>
                </div>
              </figcaption>
            </figure>
          </figure>
        {% endfor %}
      </div>
    {% elsif page.image %}
      <div class="shop-item-image gallery masonry-gallery">
        <figure class="gallery-item">
          <figure class="effect-selena">
            <header class='gallery-icon'>
              <a href="{{ site.url }}{{ site.baseurl }}{{ page.image }}" class="popup" title="{{ page.product_name }}" data-caption="¥{{ page.product_price }}">
                <img src="{{ site.url }}{{ site.baseurl }}{{ page.image }}">
              </a>
            </header>
            <figcaption class='gallery-caption'>
              <div class="entry-summary">
                <h3>{{ page.product_name }}</h3>
                <p>¥{{ page.product_price }}</p>
              </div>
            </figcaption>
          </figure>
        </figure>
      </div>
    {% endif %}
    {{ content }}
  </div>
</div>

<!-- jQuery -->    

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="{{ site.baseurl }}/js/main.min.js "></script>
{% if page.images or page.image %}
<script src="{{ site.baseurl }}/js/jquery.magnific-popup.js"></script>
<script type="text/javascript">
  $(document).ready(function($) {
    $('a.popup').magnificPopup({
      type: 'image',
      gallery:{
        enabled:true,
        navigateByImgClick: true,
        preload: [0,1]
      },
      image: {
        titleSrc: function(item) {
          return item.el.attr('title') + '&nbsp;' + item.el.attr('data-caption');
        }
      }
    });
  });
</script>
{% endif %}
